//
// source released under European Union Public License
//

#include <windows.h>
#include "../_gui/tftpd32.h"

/////////////////////////////////////////////////////////////////////////////
//
// Versioning
//
1 VERSIONINFO
	FILEVERSION 4,61,0,0
	PRODUCTVERSION 4,61,0,0
	FILEOS  VOS__WINDOWS32
	FILETYPE VFT_APP
	{
		BLOCK "StringFileInfo"
		{
			BLOCK "040C04E4"
			{
				VALUE "CompanyName",	 "Ph. Jounin"
				VALUE "FileVersion",     ""
				VALUE "FileDescription", "TFTP server"
				VALUE "InternalName",    "tftpd32 service edition"
				VALUE "LegalCopyright",  "Copyrighted 2017 by Ph. Jounin"
				VALUE "LegalTrademarks", ""
				VALUE "OriginalFileName", "tftpd32"
				VALUE "ProductName",      "tftpd32 service edition"
				VALUE "ProductVersion",   "4.61"
			}
		}
		BLOCK "VarFileInfo"
		{
			VALUE "Translation", 0x040C, 1252
		}
	}
		


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_TFTPD32      ICON    DISCARDABLE     "tftpd32.ico"
IDI_TFTPD32KILL  ICON    DISCARDABLE     "tftpd32kill.ico"

