################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/tftpd32/v15
/src/.vs/tftpd32/v16/Preview
/src/obj/Win32/Release
/src/.vs/tftpd32/v16
