// Microsoft Visual C++ generated resource script.
//
#include "tftpd32.h"
#include <windows.h>

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

1 VERSIONINFO
 FILEVERSION 4,64,0,0
 PRODUCTVERSION 4,64,0,0
 FILEFLAGSMASK 0x0L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS  VOS__WINDOWS32
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040C04E4"
        BEGIN
            VALUE "CompanyName", "Ph. Jounin"
            VALUE "FileDescription", "TFTP server"
            VALUE "LegalCopyright", "see license in about box"
            VALUE "OriginalFileName", "tftpd32"
            VALUE "ProductVersion", "4.64"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x40c, 1252
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//
IDD_TFTPD32 DIALOGEX 40, 30, 356, 212
STYLE WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU | 
    WS_THICKFRAME
CAPTION "Title set to APP_TITLE"
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN

  	// visible controls
    PUSHBUTTON     "&About",IDC_ABOUT_BUTTON,6,163,62,12
    LTEXT           "Current Directory",IDC_TXT_BASEDIR,7,8,55,9
    COMBOBOX        IDC_CB_DIR,64,22,102,41,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP | ES_WANTRETURN
    LTEXT           "Server Address",IDC_TXT_ADDRESS,7,23,55,9
    COMBOBOX        IDC_CB_IP,64,22,112,53,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP | CBS_OWNERDRAWFIXED 
    PUSHBUTTON      "&Settings",IDC_SETTINGS_BUTTON,78,163,62,12
    PUSHBUTTON      "&Help",IDC_TFTPD_HELP,151,163,62,12
    EDITTEXT        IDC_BASE_DIRECTORY,64,6,112,12,ES_AUTOHSCROLL | ES_READONLY
    PUSHBUTTON      "&Browse",IDC_BROWSE_BUTTON,193,7,37,12
    PUSHBUTTON      "Show &Dir",IDC_SHDIR_BUTTON,193,22,37,12
	
    CONTROL         "",IDC_TAB_OPTION,"SysTabControl32",WS_TABSTOP,7,46,210,19,WS_EX_CONTROLPARENT | WS_TABSTOP
	
	// Tab Events viewer
	PUSHBUTTON      "C&lear",IDC_TFTP_CLEAR,70,150,10,10
    PUSHBUTTON      "C&opy",IDC_TFTP_COPYTOCLIP,70,154,10,10
    // LTEXT           "Current Action",IDC_TXT_CURACTION,7,148,55,10
    // EDITTEXT        IDC_CURRENT_ACTION,65,145,149,12,ES_AUTOHSCROLL | ES_READONLY
    LISTBOX         IDC_LB_LOG,8,66,141,18,NOT LBS_NOTIFY | 
                    LBS_NOINTEGRALHEIGHT | LBS_NODATA | WS_VSCROLL | 
                    WS_HSCROLL | WS_TABSTOP

	// Tab Tftp server
    CONTROL         "List-Tftpd", IDC_LV_TFTP, "SysListView32", LVS_AUTOARRANGE | LVS_REPORT | LVS_NOSORTHEADER | WS_BORDER | WS_TABSTOP, 158,66,80,16
	PUSHBUTTON       "", ID_STOP_TRANSFER, 0, 0, 0, 0

	// Tab tftp client
    LTEXT           "Host",IDC_TXT_CLIENTHOST,163,95,23,10
    LTEXT           "Port",IDC_TXT_CLIENTPORT,223,95,20,10
    LTEXT           "Local File",IDC_TXT_CLIENT_LOCALFILE,161,107,20,10
    LTEXT           "Remote File",IDC_TXT_CLIENT_REMOTEFILE,161,117,20,10
    EDITTEXT        IDC_CLIENT_HOST,190,92,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_CLIENT_PORT,250,92,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_CLIENT_LOCALFILE,189,106,112,12,ES_AUTOHSCROLL,WS_EX_ACCEPTFILES
    PUSHBUTTON      "...",IDC_CLIENT_BROWSE,183,95,25,10
    EDITTEXT        IDC_CLIENT_REMOTEFILE,189,106,112,12,ES_AUTOHSCROLL
    CTEXT           "block #0",IDC_CLIENT_BLOCK,248,51,58,10
    LTEXT           "Block Size",IDC_TXT_CLIENTBLOCKSIZE,183,95,23,10
    COMBOBOX        IDC_CB_DATASEG,290,22,112,41,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
//    CONTROL         "Send full path to server",IDC_CLIENT_FULL_PATH,"Button",
//                    BS_AUTOCHECKBOX | BS_MULTILINE | WS_TABSTOP,14,178,109,8
    PUSHBUTTON      "&Get",IDC_CLIENT_GET_BUTTON,219,121,25,12
    PUSHBUTTON      "&Put",IDC_CLIENT_SEND_BUTTON,248,120,25,12
    PUSHBUTTON      "Break",IDC_CLIENT_BREAK_BUTTON,279,120,25,12
    CONTROL         "Progress1",IDC_CLIENT_PROGRESS,"msctls_progress32",WS_BORDER,175,133,138,11
	LTEXT           "You may select files from explorer and\ndrop them into Local File field", IDC_TEXT_TFTPCLIENT_HELP, 183, 90, 200, 40, ES_MULTILINE
	
	// Tab DHCP 
	
	CONTROL         "List-DHCP", IDC_LV_DHCP, "SysListView32", LVS_AUTOARRANGE | LVS_NOSORTHEADER | LVS_REPORT | WS_BORDER | WS_TABSTOP, 108,100,80,16
	PUSHBUTTON       "", ID_DELETE_ASSIGNATION, 0, 0, 0, 0
    

	//   Tab Syslog 
    CONTROL         "List-Syslog", IDC_LB_SYSLOG, "SysListView32", LVS_AUTOARRANGE | LVS_NOSORTHEADER | LVS_REPORT | WS_BORDER | WS_TABSTOP, 158,66,80,16
    PUSHBUTTON      "&Clear",IDC_SYSLOG_CLEAR,14,116,25,12
    PUSHBUTTON      "C&opy",IDC_SYSLOG_COPY,18,116,25,12


	//   SNTP Syslog 
    LTEXT           "SNTP Server running",IDC_TXT_SNTP,258,53,58,10,0x2000
	
	//  Tab DNS 
    CONTROL         "List-DNS", IDC_LB_DNS, "SysListView32", LVS_AUTOARRANGE | LVS_NOSORTHEADER | LVS_REPORT | WS_BORDER | WS_TABSTOP, 158,66,80,16


	// Background
    CTEXT           "Key HKEY_LOCAL_MACHINE\\TFTPD32\\Services is set to 0. No services available",
                    IDC_TXT_BAD_SERVICES,10,87,120,30
END

// Positions overriden in gui_settings.c
IDD_DIALOG_ABOUT DIALOG  30, 10, 199, 142
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "TITLE set to: About Tftpdxx"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,74,122,50,14
    EDITTEXT        IDC_ABOUT_TFTPD32,7,20,186,98,ES_MULTILINE | ES_READONLY | WS_VSCROLL
    CTEXT           "TFTPD32",IDC_TFTPD_STRING,6,7,167,9
END

IDD_DIALOG_SETTINGS DIALOGEX 20, 65521, 256, 323
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Set to: Tftpd32/64: Settings"
FONT 8, "MS Sans Serif", 0, 0, 0x0
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,6,289,50,14
    PUSHBUTTON      "&Default",IDC_BUTTON_DEFAULT,64,289,50,14
    PUSHBUTTON      "&Help",IDC_TFTPD_HELP,122,289,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,180,289,50,14

    CONTROL         "",IDC_TAB_SETTINGS,"SysTabControl32",WS_TABSTOP,4,4,236,292,WS_EX_CONTROLPARENT
	
	
   GROUPBOX        "Base Directory",IDC_GRP_TFTP,7,5,228,30
    EDITTEXT        IDC_BASEDIR,14,16,164,12,ES_AUTOHSCROLL
    PUSHBUTTON      "&Browse",IDC_BUTTON_BROWSE,185,16,39,13

   GROUPBOX        "Start Services",IDC_GRP_GLOBAL,7,36,131,51
    CONTROL         "TFTP Server",IDC_CHECK_TFTP_SERVER,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,14,46,60,10
    CONTROL         "TFTP Client",IDC_CHECK_TFTP_CLIENT,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,14,56,60,10
    CONTROL         "SNTP server",IDC_CHECK_SNTP_SERVER,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,14,66,60,10
    CONTROL         "Syslog Server",IDC_CHECK_SYSLOG_SERVER,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,13,75,55,10
    CONTROL         "DHCP Server",IDC_CHECK_DHCP_SERVER,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,77,46,55,10
    CONTROL         "DNS Server",IDC_CHECK_DNS_SERVER,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,77,56,55,10

   GROUPBOX        "",IDC_GRP_GLOBAL_IPv6,7,97,131,31
    CONTROL         "Enable IPv6",IDC_CHECK_IPv6,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,14,106,60,10

   GROUPBOX        "Syslog server",IDC_GRP_SYSLOG,141,36,93,52
    CONTROL         "Forward msg to pipe Tftpd32Syslog",IDC_CHECK_PIPE_SYSLOG,"Button",BS_AUTOCHECKBOX | BS_MULTILINE | WS_TABSTOP,145,44,87,19
    CONTROL         "Save syslog messages",IDC_CHECK_SAVE_SYSLOG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,144,63,87,10
    EDITTEXT        IDC_SYSLOG_FILE,174,73,50,12,ES_AUTOHSCROLL | WS_DISABLED
    LTEXT           "To file",IDC_TXT_SYSLOGTOFILE,147,75,20,10
	
    
   GROUPBOX        "TFTP Security",IDC_GRP_TFTP_SEC,6,126,81,56
    CONTROL         "None",IDC_RADIO_SECNONE,"Button",BS_AUTORADIOBUTTON,14,135,65,8
    CONTROL         "Standard",IDC_RADIO_SECSTD,"Button",BS_AUTORADIOBUTTON,14,146,65,8
    CONTROL         "High",IDC_RADIO_SECHIGH,"Button",BS_AUTORADIOBUTTON,14,158,65,8
    CONTROL         "Read Only",IDC_RADIO_SECRO,"Button",BS_AUTORADIOBUTTON,14,169,65,8

   GROUPBOX        "TFTP configuration",IDC_GRP_TFTP_CFG,91,126,142,56
    LTEXT           "Timeout (seconds)",IDC_TXT_TFTP_TIMEOUT,98,135,71,10
    LTEXT           "Max Retransmit",IDC_TXT_TFTP_RETRANSMIT,98,146,71,10
    LTEXT           "Tftp port",IDC_TXT_TFTP_PORT,98,158,68,10
    LTEXT           "local ports pool",IDC_TXT_TFTP_PORTS,98,169,70,10
    EDITTEXT        IDC_TIMEOUT,174,134,50,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_MAXRETRANSMIT,174,145,50,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_PORT,174,157,50,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_LOCAL_PORTS,174,168,50,12,ES_AUTOHSCROLL

   GROUPBOX        "Advanced TFTP Options",IDC_GRP_TFTP_ADVANCED,6,186,228,96
    CONTROL         "Option negotiation",IDC_CHECK_NEGOCIATE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,13,198,83,8
    CONTROL         "PXE Compatibility",IDC_CHECK_PXE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,13,210,83,8
    CONTROL         "Show Progress bar",IDC_CHECK_PROGRESS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,13,222,99,8
    CONTROL         "Translate Unix file names",IDC_CHECK_UNIX,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,13,234,104,8
    CONTROL         "Bind TFTP to this address",IDC_CHECK_TFTPLOCALIP,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,13,246,123,8
    COMBOBOX        IDC_CB_TFTPLOCALIP,139,246,85,45,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Allow '\\' As virtual root",IDC_CHECK_VROOT,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,14,258,104,8
    CONTROL         "Use anticipation window of ",IDC_CHECK_WINSIZE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,14,270,101,8
    EDITTEXT        IDC_WINSIZE,115,268,24,12,ES_AUTOHSCROLL | WS_DISABLED
	LTEXT           "Bytes",IDC_TXT_WINSIZE,144,270,61,8
    CONTROL         "Hide Window at startup",IDC_CHECK_HIDE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,130,198,90,8
    CONTROL         "Create ""dir.txt"" files",IDC_CHECK_DIRTEXT,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,130,210,90,8
    CONTROL         "Create md5 files",IDC_CHECK_MD5,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,130,222,90,8
    CONTROL         "Beep for long transfer",IDC_CHECK_BEEP,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,130,234,90,8
	CONTROL         "Reduce '//' in file path", IDC_REDUCE_PATH, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 130, 246, 90, 8

   GROUPBOX        "DHCP Pool definition",IDC_GRP_DHCP_POOL,6,  45,228,  100
    LTEXT           "IP pool start address",IDC_TXT_ADDRESS_POOL,249,17,58,10
    LTEXT           "Size of pool",IDC_TXT_POOL_SIZE,247,29,58,10
    LTEXT           "Lease (minutes)",IDC_TXT_LEASE,247,29,58,10
    LTEXT           "Boot File",IDC_TXT_BOOT_FILE,249,6,58,10
    EDITTEXT        IDC_DHCP_ADDRESS_POOL,277,185,58,12,ES_AUTOHSCROLL | WS_TABSTOP
    EDITTEXT        IDC_DHCP_POOL_SIZE,146,200,58,12,ES_AUTOHSCROLL | WS_TABSTOP
    EDITTEXT        IDC_DHCP_LEASE,146,200,58,12,ES_AUTOHSCROLL | WS_TABSTOP
    EDITTEXT        IDC_DHCP_BOOT_FILE,216,166,58,12,ES_AUTOHSCROLL | WS_TABSTOP
   GROUPBOX        "DHCP Options",IDC_GRP_DHCP_OPT,6,  45,228,  100
    LTEXT           "Def. router (Opt 3)",IDC_TXT_DEFAULT_ROUTER,249,53,58,10
    LTEXT           "Mask (Opt 1)",IDC_TXT_MASK,249,53,58,10
    LTEXT           "DNS Servers (Opt 6)",IDC_TXT_DNS_SERVER,249,41,58,10
    LTEXT           "WINS server (Opt 44)",IDC_TXT_WINS_SERVER,249,41,58,10
    LTEXT           "NTP server (Opt 42)",IDC_TXT_OPTION42,249,53,58,10
    LTEXT           "SIP server (Opt 120)",IDC_TXT_OPTION120,249,53,58,10
    LTEXT           "Domain Name (15)",IDC_TXT_DOMAINNAME,249,53,58,10
    LTEXT           "Additional Option",IDC_TXT_ADDOPTION,249,53,58,10
    EDITTEXT        IDC_DHCP_DEFAULT_ROUTER,213,194,78,12,ES_AUTOHSCROLL | WS_TABSTOP
    EDITTEXT        IDC_DHCP_MASK,149,183,78,12,ES_AUTOHSCROLL | WS_TABSTOP
    EDITTEXT        IDC_DHCP_DNS_SERVER,213,180,78,12,ES_AUTOHSCROLL | WS_TABSTOP
    EDITTEXT        IDC_DHCP_WINS_SERVER,213,180,78,12,ES_AUTOHSCROLL | WS_TABSTOP
    EDITTEXT        IDC_DHCP_OPTION42,213,194,78,12,ES_AUTOHSCROLL | WS_TABSTOP
    EDITTEXT        IDC_DHCP_OPTION120,213,194,78,12,ES_AUTOHSCROLL | WS_TABSTOP
    EDITTEXT        IDC_DHCP_DOMAINNAME,149,183,78,12,ES_AUTOHSCROLL | WS_TABSTOP
    EDITTEXT        IDC_DHCP_ADDOPTION_NB,149,183,78,12,ES_AUTOHSCROLL | WS_TABSTOP
    EDITTEXT        IDC_DHCP_ADDOPTION_VALUE,149,183,78,12,ES_AUTOHSCROLL | WS_TABSTOP
	//    PUSHBUTTON      "S\na\n&v\ne",IDC_DHCP_OK,269,66,49,12,BS_MULTILINE

   GROUPBOX        "DHCP Settings",IDC_GRP_DHCP,6,88,228,36
    CONTROL         "Ping address before assignation",IDC_CHECK_PING,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,11,97,115,12
    CONTROL         "Persistant leases",IDC_CHECK_PERS_LEASES,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,130,97,72,12
    CONTROL         "Double answer if relay detected",IDC_CHECK_DOUBLE_ANSWER, "Button",BS_AUTOCHECKBOX | WS_TABSTOP,12,109,113,12
    CONTROL         "Bind DHCP to this address",IDC_CHECK_LOCALIP_DHCP,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,12,110,114,12
    COMBOBOX        IDC_CB_LOCALIP_DHCP,139,110,85,45,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
	
END


IDD_DIALOG_GAUGE DIALOG  0, 0, 169, 38
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
BEGIN
    CONTROL         "Progress1",IDC_TRF_PROGRESS,"msctls_progress32",WS_BORDER,0,24,169,11
    CTEXT           "File size",IDC_FILE_SIZE,0,2,169,10
    CTEXT           "0 byte transferred",IDC_FILE_STATS,0,11,169,10
END

IDD_DIALOG_SHDIR DIALOG  6, 18, 219, 112
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "TITLE Set to: Tftpd32: directory"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "Close",IDOK,10,92,50,14
    // PUSHBUTTON      "Cancel",IDCANCEL,56,92,38,14
    PUSHBUTTON      "Copy",IDC_SD_COPY,120,92,38,14
    PUSHBUTTON      "Explorer",IDC_SD_EXPLORER,166,92,38,14
    LISTBOX         IDC_LB_SHDIR,6,6,207,88,LBS_SORT | LBS_USETABSTOPS | LBS_NODATA | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP
END



IDD_DIALOG_FIREWALL DIALOG DISCARDABLE  0, 0, 239, 66
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Tftpd32"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "&OK",IDOK,174,18,50,14
    GROUPBOX        "The firewall seems to block Tftpd32",IDC_STATIC,7,7,225,52
    CONTROL         "Do not show this warning again",IDC_CHECK_FIREWALL,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,13,19,83,8
END

IDD_MESSAGEBOXDLG DIALOGEX DISCARDABLE  0, 0, 10, 10
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Provided by API"
FONT 8, "MS Sans Serif"
BEGIN
     // PUSHBUTTON   "&OK",IDOK,0,0,50,14
     // PUSHBUTTON   "&Cancel",IDCANCEL,0,0,50,14
     // PUSHBUTTON   "&Abort",IDABORT,0,0,50,14
     // PUSHBUTTON   "&Retry",IDRETRY,0,0,50,14
     // PUSHBUTTON   "&Ignore",IDIGNORE,0,0,50,14
     // PUSHBUTTON   "&Yes",IDYES,0,0,50,14
     // PUSHBUTTON   "&No",IDNO,0,0,50,14
	 // PUSHBUTTON   "C&lose", IDCLOSE, 0, 0, 50, 14
     // PUSHBUTTON   "&Help",IDHELP,0,0,50,14
	  CTEXT			"To de defined", IDC_MSGBOXTEXT, 1, 1, 1, 1
	  ICON  		IDI_HAND, IDI_MSGBOXICON, 0, 10, 10, 20, 20, 0
END

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_TFTPD32          ICON                    "tftpd32_new.ico"
//IDI_TFTPD32_OLD             ICON                    "tftpd32.ico"
IDI_TFTPD32KILL         ICON                    "tftpd32kill.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDM_SERVER_LIST MENU 
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Stop transfer",              ID_STOP_TRANSFER
    END
END

IDM_DHCP_LIST MENU 
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Delete",                     ID_DELETE_ASSIGNATION
    END
END


